<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>Clases.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SInicioSesion</servlet-name>
        <servlet-class>Clases.SInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificarSesion</servlet-name>
        <servlet-class>Clases.VerificarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUser</servlet-name>
        <servlet-class>Clases.actualizarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUser</servlet-name>
        <servlet-class>Clases.eliminarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>Clases.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asignarPsi</servlet-name>
        <servlet-class>Clases.asignarPsi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SInicioSesion</servlet-name>
        <url-pattern>/SInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificarSesion</servlet-name>
        <url-pattern>/VerificarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUser</servlet-name>
        <url-pattern>/actualizarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUser</servlet-name>
        <url-pattern>/eliminarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asignarPsi</servlet-name>
        <url-pattern>/asignarPsi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
